asn1crypto==1.2.0
certifi==2019.9.11
cffi==1.13.0
chardet==3.0.4
conda==4.7.12
conda-package-handling==1.6.0
cryptography==2.8
googledrivedownloader==0.4
idna==2.8
menuinst==1.4.16
pycosat==0.6.3
pycparser==2.19
pyOpenSSL==19.0.0
PySocks==1.7.1
pywin32==223
requests==2.22.0
ruamel-yaml==0.15.46
six==1.12.0
tqdm==4.36.1
urllib3==1.24.2
win-inet-pton==1.1.0
wincertstore==0.2
